<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="c:\nlog-debug.log">

	<targets>
		<target name="logconsole" xsi:type="Console"
				layout="${longdate} | ${level:uppercase=true} | ${message}" />
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/logfile.log"
				layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
	</rules>
</nlog>
